<ActionBar class="action-bar"
    title="SmartBell">

</ActionBar>

<StackLayout>
    <TabView 
        height="auto" 
        selectedTabTextColor="#03DAC5" 
        tabBackgroundColor="#6200EE"
        androidSelectedTabHighlightColor="#03DAC5">
        
        <StackLayout *tabItem="{title: 'Chamada'}">
            <Label text="Implementar a tela de chamada aqui"></Label>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Histórico'}">
            
            <ListView [items]="calls" class="list-group">
                <ng-template let-item="item">
                  <StackLayout>
                    <Label [text]="item.id" class="list-group-item"></Label>
                    <Label text="{{ item.date | date: 'MMM yy' }}" class="list-group-item"></Label>
                  </StackLayout>
                </ng-template>
            </ListView>

        </StackLayout>

    </TabView>
</StackLayout>